[Desktop Entry]
Name=StartConky
Comment=Start Conky Config
Icon=conky
Exec=~/.config/conky/startconky.sh
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=20
